html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__title {
  margin-bottom: 15px;
}

.form {
  margin-bottom: 20px;
  text-align: center;
}

.form__input {
  padding: 4px 5px;
  margin-right: 10px;
  border: 2px solid rgb(70, 70, 219);
  border-radius: 10px;
  min-width: 362px;
  text-align: center;
}

.form__btn:disabled {
  background: rgb(49, 49, 128);
  pointer-events: none;
}
.form__btn {
  padding: 0;
  padding: 5px 15px;
  border: 1px solid rgb(70, 70, 219);
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: rgb(70, 70, 219);
  transition: background-color 0.3s;
}

.form__btn:hover {
  background-color: rgb(107, 107, 223);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
  width: 315px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 199px;
  border-radius: 20px;
  font-size: 60px;
  color: transparent;
  background-color: #000;
  background-image: url(img/cover.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s, background 0.2s, color 0.2s;
  cursor: pointer;
}

.item-active {
  transform: rotateY(360deg);
  background: none;
  background: rgb(151, 14, 117);
  color: #fff;
  transition: transform 0.2s, background 0.2s;
}

.item-success {
  transform: scale(0.95);
  background: none;
  background: rgb(73, 10, 57);
  color: #fff;
}
